[submodule "tb"]
	path = third_party/termbox
	url = https://github.com/nullgemm/termbox_next
[submodule "rx"]
	path = third_party/zig-rexpaint
	url = https://github.com/kiedtl/zig-rexpaint.git
[submodule "third_party/microtar"]
	path = third_party/microtar
	url = https://github.com/rxi/microtar.git
[submodule "third_party/zig-strig"]
	path = third_party/zig-strig
	url = https://github.com/kiedtl/zig-strig
