name: CI
run-name: CI

on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.0
      - run: zig fmt --check src/*.zig
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.0
      - run: git submodule update --init --recursive
      - run: zig build test --summary all
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.14.0
      - run: sudo apt-get update
      - run: sudo apt-get install libpng-dev
      - run: zig build
      - run: RL_NO_SENTRY=1 RL_SEED=0xdefaced_cafe RL_MODE=tester zig-out/bin/rl
